h1 {
    color: lightcoral;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 500px;
    width: 600px;
    background-color: lightcyan; 
    padding: 50px;
    border: 10px solid lightblue;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}